.container {
  max-width: 56rem; /* 869px */
  margin: 0 auto;

  padding: 1.5rem 1rem; /* 24px 16px */

  display: flex;
  flex-direction: column;
  gap: 1.75rem; /* 28px */

  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.previous-btn {
  width: 2.5rem; /* 40px */
}

.previous-btn svg {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */

  flex-shrink: 0;

  stroke: hsl(var(--tertiary-foreground));
}

.logout-btn svg {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */

  stroke: hsl(var(--secondary-foreground));
}

.informations-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; /* 16px */
}

/* Tablet: 2 columns */
@media (min-width: 640px) {
  .informations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.information {
  height: 5.25rem; /* 84px */
  padding: 1.25rem 1.125rem /* 20px 18px */;

  display: flex;
  justify-content: space-between;

  border-radius: var(--radius);
  border: var(--border-width) solid hsl(var(--border));
}

.information-water-level {
  display: flex;
  align-items: start;
  gap: 0.75rem; /* 12px */
}

.information-water-level svg {
  width: 1.625; /* 26px */
  height: 1.625rem; /* 26px */

  stroke: hsl(var(--primary));
}

.water-level {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* 4px */
}

.water-level strong {
  font-size: 1.125rem; /* 18px */
}

.water-level span {
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}

.level-bar {
  position: relative;

  height: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: end;

  background-color: hsl(var(--border));

  border-radius: calc(var(--radius) - 4px); /* 8px */

  overflow: hidden;
}

.bar {
  width: 100%;
  background-color: hsl(var(--primary));

  border-radius: calc(var(--radius) - 8px); /* 4px */
}

.current-level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 600;
  font-size: 0.875rem; /* 14px */
  color: hsl(var(--background));
}

.information-temperature {
  display: flex;
  align-items: start;
  gap: 0.75rem; /* 12px */
}

.information-temperature svg {
  width: 1.625; /* 26px */
  height: 1.625rem; /* 26px */

  stroke: hsl(var(--other));
}

.temperature {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* 4px */
}

.temperature strong {
  font-size: 1.125rem; /* 18px */
}

.temperature span {
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8px */

  text-align: center;

  font-weight: 500;
  color: hsl(var(--muted-foreground));
}

#bottle-temperature-chart {
  padding: 0.5rem; /* 8px */

  border-radius: var(--radius);
  border: var(--border-width) solid hsl(var(--border));
}

footer {
  display: flex;
}

.delete-bottle-btn {
  margin-left: auto;
}

.delete-bottle-btn svg {
  width: 1.125rem; /* 18px */
  height: 1.125rem; /* 18px */

  stroke: hsl(var(--secondary-foreground));
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem; /* 28px */
}
