.container {
  max-width: 24rem; /* 384px */
  margin: 0 auto;

  padding: 1.5rem 1rem; /* 24px 16px */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem; /* 28px */

  min-height: 100vh;
}

.container h1 {
  font-size: 2rem; /* 32px */
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.75rem; /* 28px */
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 16px */
}

.divider {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */

  font-weight: 600;
  color: hsl(var(--border));
}

.divider hr {
  width: 100%;
  height: var(--border-width);

  background-color: hsl(var(--border));
}

.msg {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* 4px */

  font-weight: 600;
  text-align: center;
}

.msg a:focus-visible {
  outline: var(--outline-width) solid hsl(var(--border));
}
