@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: 214 74% 5;
  --foreground: 204 56% 96;
  --muted-foreground: 195 5% 66;
  --primary: 195 100% 66;
  --primary-foreground: 200 32% 13;
  --primary-shadow: 199 80% 47;
  --secondary: 195 21% 70;
  --secondary-foreground: 200 32% 13;
  --secondary-shadow: 194 8% 48;
  --border: 204 26% 25;
  --ring: 195 100% 66;
  --radius: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;

  font-family: "Barlow", sans-serif;
  color: hsl(var(--foreground));
}

body {
  background-color: hsl(var(--background));
}

input,
button {
  width: 100%;
  background: none;
  padding: 0.75rem 0.875rem; /* 8px 14px */
  font-weight: 600;
  transition: all 100ms ease-in-out;
  font-size: 1rem; /* 16px */
  cursor: pointer;
}

input:active,
button:active {
  transform: scale(0.95);
}

input {
  border: 2px solid hsl(var(--border));
  border-radius: var(--radius);
}

input::placeholder {
  color: hsl(var(--muted-foreground));
}

input:focus {
  border-color: hsl(var(--ring));
}

.primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: var(--radius);
  cursor: pointer;
}

.primary:focus-visible {
  outline: 2px solid hsl(var(--primary));
  outline-offset: 2px;
}

.secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  border-radius: var(--radius);
  cursor: pointer;
}
