main{
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 15%;
}
.centralpart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 42px
}
.text_principal{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.buttoms{
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.titulo{
    font-weight: 600;
    font-size: 400%;
    text-wrap: nowrap;
}
.imagem{
    margin-left: 20%;
    padding-top: -20%;
}