.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.75rem; /* 28px */
  height: 100vh;
  max-width: 24rem; /* 384px */
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem; /* 24px 16px */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem; /* 28px */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* 16px */
}

.separator {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
  width: 100%;
  font-weight: 700;
}

.separator span {
  color: hsl(var(--border));
}

hr {
  width: 100%;
  height: 2px;
  background-color: hsl(var(--border));
}

p {
  text-align: center;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 2px solid hsl(var(--border));
}
